<div class="mt-3 form-check">
  <%= render(Bootstrap::Form::Tag::Checkbox.new(form: @form, field: @field)) %>
  <%= render(Bootstrap::Form::Tag::Label.new(form: @form, field: @field, style: :checkbox)) %>
</div>
