<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle <%= classes %>" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <%= text %>
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%= content %>
  </ul>
</li>

